/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto Slab", serif;
    width: 100%;
    height: 100vh;
    background-color: #121213;
    display: grid;
    place-items: center;
}
header {
    width: 85%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.menu-side {
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
}
.song-side {
    width: 75%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: #0b1320;
}
.master-play {
    width: 100%;
    height: 10%;
    background-color: #111727;
    /* border: 1px solid #fff; */
    box-shadow: 0px 3px 8px #090f1f;
}
.menu-side h1 {
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    margin: 15px 0 0 20px;
    font-weight: 500;
}
.menu-side h4 {
    color: #4c5262;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
.menu-side h4:hover{
   color: #36e2ec;
}
.playlist {
    margin: 40px 0 0 20px;
}
.playlist h4 i {
    margin-right: 8px;
}
/* bjhbv */
/* .playlist span {
    position: relative;
    margin-right: 35px;
}
.playlist span::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
.playlist h4:hover span::before {
    border: 2px solid #fff;
}
.playlist h4 .fa-solid {
    display: none ;
}
.playlist h4.active span {
    color: #36e2ec;
}
.playlist h4.active span {
    display: none ;
}
.playlist h4 .active .fa-solid {
    display: flex;
    margin-right: 20px;
} */

/* bdjwb */

.menu-song {
    width: 100%;
    height: 400px;
    /* border: 1px solid #fff; */
    margin-top: 40px;
    overflow: hidden;
}
.menu-song li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px ;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
    color: #fff;
}
.menu-song li:hover {
    background: rgb(105,105,105,.1);
}
.menu-song li span  {
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
.menu-song li img {
    height: 32px; 
    width: 32x;
    margin-left: 25px;
}
.menu-song li h5 {
   font-size: 12px;
   margin-left: 15px;
   width: 170px;
   /* border: 1px solid #fff; */
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.menu-song li h5 .subtitle {
    font-size: 9px;
    color: #4c5262;
 }
 .menu-song li .fa-solid {
    position: absolute;
    right: 15px;
 }
.menu-side li a {
    display: flex;
    font-size: 8px;
    color: #4c5262;
    text-decoration: none;
    gap: 13px;
    position: relative;
    bottom: 0;
    padding: 10px;
}
 .master-play {
    display: flex;
    align-items: center;
    padding: 0px 20px ;
 }
 .master-play .wave {
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
 }
 .wave .wave1 {
    margin-left: 5px;
    width: 3px;
    height: 10px;
    background-color: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px ;
    animation: unset;
 }
 .wave .wave2 {
    width: 3px;
    height: 13px;
    background-color: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px ;
    animation: unset;
    animation-delay: .8s;
 }
 .wave .wave3 {
    width: 3px;
    height: 8px;
    background-color: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px ;
    animation: wave unset;
    animation-delay: .4s;
 }

/* javascript classes  */
.master-play .active1 .wave1 {
       animation: wave .5s linear infinite;
}
.master-play .active1 .wave2 {
    animation-delay: .8s ;
}
.master-play .active1 .wave3 {
    animation-delay: .4s ;
}

@keyframes wave {
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}
.master-play img {
    width: 35px;
    height: 35px;
}
.master-play img {
    width: 35px;
    height: 35px;
}
.master-play h5 {
   width: 150px;
   /* border: 1px solid #fff; */
   margin-left: 15px;
   color: #fff;
   line-height: 17px;
   font-size: 13px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.master-play h5 .subtitle{
    font-size: 11px;
    color: #4c5262;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
 .master-play .icon {
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    outline: none;
 }
 .master-play .icon .fa-solid {
    cursor: pointer;
    margin-right: 10px;
 }
 .master-play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
 }
 .master-play #currentstart {
   margin: 0px 0px 0px 20px;
 }
 .master-play .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105,105,105,.1);
    margin: 0px 15px 0px 10px;
 }
 .master-play .bar .bar2 {
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
 }
 .master-play .bar .dot {
   position: absolute;
   width: 5px;
   height: 5px;
   background: #36e2ec;
   border-radius: 50%;
   left: 0%;
   top: -1.5px;
   transition: 1s linear;
 }
 .master-play .bar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
  }
  .master-play .bar input {
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0px;
    cursor: pointer;
    z-index: 99999999999999999999;
    opacity: 0;
  }
  .master-play .vol {
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105,105,105,.1);
    margin-left: 40px;
  }
  .master-play .vol .fa-solid {
    position: absolute;
    font-size: 20px;
    top: -9px;
    left: -30px;
  }
  .master-play .vol input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999;
    opacity: 0;
  }
  .master-play .vol .vol-bar {
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
  }
  .master-play .vol .dot {
    position: absolute;
   width: 5px;
   height: 5px;
   background: #36e2ec;
   border-radius: 50%;
   left: 0%;
   top: -1.5px;
   transition: 1s linear;
  }
  .master-play .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
  }
.song-side img.bg-image {
    /* display: block; */
    margin-top: -30px;
   margin-left: 400px;
}
.song-side nav {
   margin-top: -380px;
   width: 90%;
   height: 10%;
   /* border: 1px solid #fff; */
   margin-left: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.song-side nav ul {
  display: flex;
}
.song-side nav ul li {
   list-style: none;
   position: relative;
   font-size: 13px;
   color: #4c5262;
   margin-right: 25px;
   cursor: pointer;
   transition: .3s linear;
}
.song-side nav ul li:hover {
   color: #fff;
}
.song-side nav ul li:nth-child(1) {
    color: #fff;
}
.song-side nav ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0px;
    border-radius: 20px;
}
.song-side nav .search {
    position: relative;
    display: inline-block;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
}
.song-side nav .search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgb(184,184,184,.1); */
    background: rgb(184,184,184,.1);
    border-radius: 20px;
    /* backdrop-filter: blur(5px); */
    /* z-index: -1; */
}
.song-side nav .search .fa-solid {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}
.song-side nav .search input {
    background: none;
    border: none;
    outline: none;
    margin-bottom: 5px;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}
.song-side nav .user img {
    height: 30px;
    width: 30x;
    border-radius: 60%;
    background-size: contain;
    margin-top: 9px;
    box-shadow: 2px 2px 8px #121213;
}
.song-side .content {
    width: 90%;
    height: 30%;
    /* border: 1px solid #fff; */
    margin: auto;
    padding-top: 10px;
}
.song-side .content h1 {
    font-size: 30px;
    font-weight: 600;
    color: #4c5262;
}
.song-side .content h3 {
    padding-top: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
.song-side .content p {
   font-size: 15px;
   font-weight: 400;
   color: #4c5262;
   margin: 5px;
}
.song-side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}
.song-side .content .buttons button:hover{
   background: none;
   color: #36e2ec;
}
.song-side .content .buttons button:nth-child(2){
    background: none;
    color: #36e2ec;
 }
 .song-side .content .buttons button:nth-child(2):hover{
    background: #36e2ec;
    color: #fff;
 }